body {
    margin: 0px;
}

.menu {
    background-color: black;
    text-align: center;
    padding: 20px;
}

.menu__item {
    display: inline-block;
    height: 20px;
    width: 100px;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: center;
}

nav ul {
    text-align: center;
}

header {
    position: relative;
}

header img {
    width: 100%;
}

header > h1.header__title--main {
    position: absolute;
    font-size: 60px;    
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 730px;
    color: white;
    text-transform: uppercase;
    
}